@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Pixelify Sans", sans-serif; /* Define a fonte padrão */
    background-image: url('LinkGif.gif');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    display: grid; /* Usa Flexbox para layout */
    place-items: center;
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    padding-top: 100px;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem; /* Tamanho da fonte */
    color: #5b0194; /* Cor do texto */
    text-shadow: 6px 6px 8px white;
    -webkit-text-stroke: 1px rgb(203, 124, 223);
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    padding: 20px;
}

/*.section {
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));
    padding: 20px;
} */

section input {
    font-family: "Pixelify Sans", sans-serif;
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}


section button {
    font-family: "Pixelify Sans", sans-serif;
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #683379; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}


.resultados-pesquisa {
    font-family: "Pixelify Sans", sans-serif;
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}


.item-resultado {
    font-family: "Pixelify Sans", sans-serif;
    background: #eab9ee; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
}


.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}


.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #46305e; /* Cor do texto dos links */
}


.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}


.descricao-meta {
    color: #430350; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

/*.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/



footer {
    color: #ffffff;
    /*text-shadow: 1px 1px 4px white; */
    padding-top: 2rem;
    /*-webkit-text-stroke: 1px rgb(161, 137, 159); */
    background-color: transparent;
    backdrop-filter: blur(5px);
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: fixed; /* Posiciona o rodapé */
    bottom: 0;
    left: 0;
    width: 100%;
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
    z-index: 999;
}

footer p {
    margin-bottom: 10px;
  }

footer div { /* Para elementos internos do rodapé */
    background-color: transparent;
}

